# Created by https://www.gitignore.io/api/linux,windows

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/linux,windows

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

bin/Debug/netcoreapp2\.0/MvcMovie\.deps\.json

bin/Debug/netcoreapp2\.0/MvcMovie\.dll

bin/Debug/netcoreapp2\.0/MvcMovie\.pdb

bin/Debug/netcoreapp2\.0/MvcMovie\.runtimeconfig\.dev\.json

bin/Debug/netcoreapp2\.0/MvcMovie\.runtimeconfig\.json

obj/Debug/netcoreapp2\.0/MvcMovie\.AssemblyInfo\.cs

obj/Debug/netcoreapp2\.0/MvcMovie\.AssemblyInfoInputs\.cache

obj/Debug/netcoreapp2\.0/MvcMovie\.csproj\.CoreCompileInputs\.cache

obj/Debug/netcoreapp2\.0/MvcMovie\.csproj\.FileListAbsolute\.txt

obj/Debug/netcoreapp2\.0/MvcMovie\.dll

obj/Debug/netcoreapp2\.0/MvcMovie\.pdb

obj/MvcMovie\.csproj\.nuget\.cache

obj/MvcMovie\.csproj\.nuget\.g\.props

obj/MvcMovie\.csproj\.nuget\.g\.targets

obj/project\.assets\.json
